/* --khaki-web: #c3a995ff;
--grullo: #ab947eff;
--umber: #6f5e53ff;
--shadow: #8a7968ff;
--dark-liver-horses: #593d3bff;

--mint-cream: #f0f7eeff;
--beau-blue: #c4d7f2ff;
--umber: #6f5e53ff;
--powder-blue: #afdedcff;
--morning-blue: #91a8a4ff; */
.wrong-letter {
    /* width: 60px;
    height: 60px; */
    /* border-style: solid; */
    /* padding: 2px; */
    float: left;
    /* margin: 2px; */
    color: red;
    /* border-color: red; */
    text-decoration: line-through;
    font-weight: bold;
  }